body {
  margin: 0;
  padding: 0;
  position: relative;
}

head 
/* head { */
/*      */
/* } */

.container{
    position: relative;
}

.Modeling {
  background-color: #f5f3ef;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 900px;
  width: 413px;
}